<div class="mb-16">
  <h2 class="text-xl font-medium mb-5">Accounts</h2>

  @if (accounts().length === 0) {
  <p class="text-slate-400 text-sm">There are none registered accounts</p>
  }

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    @for(account of accounts(); track account.id){
    <div
      class="bg-card rounded-xl p-5 border border-border shadow-md shadow-black/20 hover:border-accent-green/40 transition"
    >
      <p class="text-slate-400 text-sm">{{ account.name }}</p>
      <p class="text-2xl font-semibold mt-2">
        {{ account.balance | currency:'ARS':'symbol':'1.2-2' }}
      </p>
      <p class="text-slate-400 text-sm mt-1">{{ account.description }}</p>
    </div>
    }
  </div>
</div>
