:host {
  display: block;
}
/* Chrome, Edge, Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(1) brightness(2);
}
