<aside class="w-64 bg-secondary flex flex-col border-r border-border h-full">
  <div
    class="px-6 py-5 text-xl font-semibold tracking-wide border-b border-border"
  >
    BudgetKing 👑
  </div>

  <nav class="flex-1 px-4 py-6 space-y-2 text-sm">
    <a
      routerLink="/home"
      routerLinkActive="bg-card border border-border text-white"
      [routerLinkActiveOptions]="{ exact: true }"
      class="block px-4 py-2 rounded-lg text-slate-400 hover:bg-card hover:text-white transition"
    >
      Home
    </a>

    <a
      routerLink="/transactions"
      routerLinkActive="bg-card border border-border text-white"
      class="block px-4 py-2 rounded-lg text-slate-400 hover:bg-card hover:text-white transition"
    >
      Transacciones
    </a>

    <a
      routerLink="/dashboard"
      routerLinkActive="bg-card border border-border text-white"
      class="block px-4 py-2 rounded-lg text-slate-400 hover:bg-card hover:text-white transition"
    >
      Dashboard
    </a>

    <a
      routerLink="/accounts"
      routerLinkActive="bg-card border border-border text-white"
      class="block px-4 py-2 rounded-lg text-slate-400 hover:bg-card hover:text-white transition"
    >
      Accounts
    </a>

    <a
      routerLink="/categories"
      routerLinkActive="bg-card border border-border text-white"
      class="block px-4 py-2 rounded-lg text-slate-400 hover:bg-card hover:text-white transition"
    >
      Categories
    </a>
  </nav>
</aside>
