<div class="w-full px-4 py-6">
  <h1 class="text-2xl font-semibold mb-6">Transactions</h1>

  <!-- ================= FILTERS ================= -->
  <div class="space-y-6 my-5">
    <div class="p-4 rounded-xl border border-border bg-card">
      <form [formGroup]="form" (ngSubmit)="onSearch()" class="space-y-4">
        <!-- Primary filters -->
        <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
          <div>
            <label class="block text-sm text-slate-300 mb-1">From</label>
            <input
              type="date"
              formControlName="dateFrom"
              class="w-full rounded-lg bg-card border border-border px-3 py-2 text-white"
            />
          </div>

          <div>
            <label class="block text-sm text-slate-300 mb-1">To</label>
            <input
              type="date"
              formControlName="dateTo"
              class="w-full rounded-lg bg-card border border-border px-3 py-2 text-white"
            />
          </div>

          <div>
            <label class="block text-sm text-slate-300 mb-1">Account</label>
            <select
              formControlName="account"
              class="w-full rounded-lg bg-card border border-border px-3 py-2 text-white"
            >
              <option value="">All</option>
              @for (account of accounts; track account.id) {
              <option [value]="account.id">{{ account.value }}</option>
              }
            </select>
          </div>

          <div>
            <label class="block text-sm text-slate-300 mb-1">Category</label>
            <select
              formControlName="category"
              class="w-full rounded-lg bg-card border border-border px-3 py-2 text-white"
            >
              <option value="">All</option>
              @for (category of categories; track category.id) {
              <option [value]="category.id">{{ category.value }}</option>
              }
            </select>
          </div>

          <div>
            <label class="block text-sm text-slate-300 mb-1">Type</label>
            <select
              formControlName="type"
              class="w-full rounded-lg bg-card border border-border px-3 py-2 text-white"
            >
              <option value="">All</option>
              @for (type of transactionTypes; track type) {
              <option [value]="type">{{ type }}</option>
              }
            </select>
          </div>
        </div>

        <!-- Secondary filters -->
        <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
          <div>
            <label class="block text-sm text-slate-300 mb-1">Min amount</label>
            <input
              type="number"
              formControlName="minAmount"
              class="w-full rounded-lg bg-card border border-border px-3 py-2 text-white"
            />
          </div>

          <div>
            <label class="block text-sm text-slate-300 mb-1">Max amount</label>
            <input
              type="number"
              formControlName="maxAmount"
              class="w-full rounded-lg bg-card border border-border px-3 py-2 text-white"
            />
          </div>

          <div>
            <label class="block text-sm text-slate-300 mb-1">Description</label>
            <input
              type="text"
              formControlName="description"
              class="w-full rounded-lg bg-card border border-border px-3 py-2 text-white"
            />
          </div>

          <div>
            <label class="block text-sm text-slate-300 mb-1"
              >Counterparty</label
            >
            <input
              type="text"
              formControlName="counterparty"
              class="w-full rounded-lg bg-card border border-border px-3 py-2 text-white"
            />
          </div>
        </div>

        <!-- Actions -->
        <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
          <button
            type="button"
            class="w-full bg-border text-black rounded-lg px-3 py-2 text-sm font-medium"
            (click)="onClear()"
          >
            Clear
          </button>

          <button
            type="submit"
            class="w-full bg-accent-green text-black rounded-lg px-3 py-2 text-sm font-medium"
          >
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Add transaction -->
  <div class="flex flex-wrap gap-4 mb-14">
    <button
      (click)="openNewTransactionModal()"
      class="flex items-center gap-2 px-5 py-2 rounded-lg bg-accent-blue/90 hover:bg-accent-blue text-sm font-medium"
      [disabled]="!userHasAccounts"
      [ngClass]="{ 'opacity-50 cursor-not-allowed': !userHasAccounts }"
    >
      <i class="fa-solid fa-right-left"></i>
      Transaction
    </button>
  </div>

  <!-- ================= DESKTOP TABLE ================= -->
  <div class="hidden md:block bg-card border border-border rounded-lg p-4">
    <div class="overflow-x-auto">
      <table class="min-w-full text-sm">
        <thead class="text-slate-400 border-b">
          <tr>
            <th class="px-4 py-3">Date</th>
            <th class="px-4 py-3">Account</th>
            <th class="px-4 py-3">Type</th>
            <th class="px-4 py-3">Category</th>
            <th class="px-4 py-3 text-right">Amount</th>
            <th class="px-4 py-3">Description</th>
            <th class="px-4 py-3">Counterparty</th>
          </tr>
        </thead>

        <tbody class="divide-y divide-border">
          @for (transaction of transactions(); track transaction.id) {
          <tr class="hover:bg-secondary">
            <td class="px-4 py-3">{{ transaction.date }}</td>
            <td class="px-4 py-3">{{ transaction.accountName }}</td>
            <td class="px-4 py-3">{{ transaction.type }}</td>
            <td class="px-4 py-3">{{ transaction.categoryName }}</td>
            <td
              class="px-4 py-3 text-right font-medium"
              [ngClass]="{
                'text-accent-green': transaction.type === TRANSACTION_TYPE.INCOME,
                'text-accent-red': transaction.type === TRANSACTION_TYPE.EXPENSE
              }"
            >
              {{ transaction.amount | currency:'ARS':'symbol':'1.2-2' }}
            </td>
            <td class="px-4 py-3">{{ transaction.description || '—' }}</td>
            <td class="px-4 py-3">{{ transaction.counterparty || '—' }}</td>
          </tr>
          }
        </tbody>
      </table>
      <div class="w-full px-4 py-6">
        <app-pagination
          [page]="currentPage()"
          [size]="pageSize()"
          [totalElements]="totalElements()"
          [totalPages]="totalPages()"
          (changePage)="onPageChange($event)"
        ></app-pagination>
      </div>
    </div>
  </div>

  <!-- ================= MOBILE CARDS ================= -->
  <div class="md:hidden space-y-3">
    @for (transaction of transactions(); track transaction.id) {
    <div class="bg-card border border-border rounded-lg p-4">
      <div class="flex flex-col justify-start items-start">
        <span class="text-xs text-slate-400">{{ transaction.date }}</span>
        <span
          class="text-sm font-semibold"
          [ngClass]="{
            'text-accent-green': transaction.type === TRANSACTION_TYPE.INCOME,
            'text-accent-red': transaction.type === TRANSACTION_TYPE.EXPENSE
          }"
        >
          {{ transaction.amount | currency:'ARS':'symbol':'1.2-2' }}
        </span>
      </div>

      <div class="mt-2 font-medium text-sm">{{ transaction.categoryName }}</div>

      <div class="mt-1 text-xs text-slate-400">
        {{ transaction.accountName }} · {{ transaction.type }}
      </div>

      @if (transaction.description) {
      <div class="mt-2 text-xs text-slate-300 break-words">
        {{ transaction.description }}
      </div>
      } @if (transaction.counterparty) {
      <div class="mt-1 text-xs text-slate-400">
        {{ transaction.counterparty }}
      </div>
      }
    </div>
    }
    <div class="w-full px-4 py-6">
      <app-pagination
        [page]="currentPage()"
        [size]="pageSize()"
        [totalElements]="totalElements()"
        [totalPages]="totalPages()"
        (changePage)="onPageChange($event)"
      ></app-pagination>
    </div>
  </div>
</div>

@if (isTransactionModalOpen) {
<app-edit-transaction
  [transaction]="null"
  [accounts]="accounts"
  (closed)="onTransactionModalClosed($event)"
/>
}
