
.multi-select-dropdown input {
  min-width: 100px;
}

.multi-select-dropdown .border-accent-green {
  border-color: green;
}

.multi-select-dropdown .border-border {
  border-color: theme('colors.border');
}
