:host {
  display: block;
}

.multi-select-dropdown input {
  min-width: 100px;
}

.multi-select-wrapper {
  transition: border-color 0.2s;
}

.multi-select-wrapper.border-accent-green {
  border-color: green;
}
