<div class="bg-slate-900/30 rounded-2xl border border-slate-800/80 p-2 shadow-2xl">
  <div class="max-h-[440px] overflow-y-auto custom-scroll">
    <table class="w-full text-sm text-left border-separate border-spacing-y-1">
      <thead class="bg-[#0b0f19] text-slate-400 text-xs font-bold uppercase tracking-wider sticky top-0 z-10">
        <tr>
          <th class="px-6 py-4 rounded-l-xl">Date</th>
          <th class="px-6 py-4">Account</th>
          <th class="px-6 py-4">Type</th>
          <th class="px-6 py-4">Category</th>
          <th class="px-6 py-4 text-right">Amount</th>
          <th class="px-6 py-4 pl-10">Description</th>
          <th class="px-6 py-4 text-right rounded-r-xl">CounterParty</th>
        </tr>
      </thead>

      <tbody>
        @if (loading()) {
        @for (i of [1, 2, 3, 4, 5]; track i) {
        <tr class="animate-pulse">
          <td class="px-6 py-4">
            <div class="h-4 bg-slate-800 rounded w-20"></div>
          </td>
          <td class="px-6 py-4">
            <div class="h-4 bg-slate-800 rounded w-24"></div>
          </td>
          <td class="px-6 py-4">
            <div class="h-6 bg-slate-800 rounded w-16"></div>
          </td>
          <td class="px-6 py-4">
            <div class="h-4 bg-slate-800 rounded w-24"></div>
          </td>
          <td class="px-6 py-4">
            <div class="h-4 bg-slate-800 rounded w-16 ml-auto"></div>
          </td>
          <td class="px-6 py-4 pl-10">
            <div class="h-4 bg-slate-800 rounded w-32"></div>
          </td>
          <td class="px-6 py-4">
            <div class="h-4 bg-slate-800 rounded w-20 ml-auto"></div>
          </td>
        </tr>
        }
        }
        @else {
        @for(tx of txs(); track tx.id) {
        <tr class="hover:bg-indigo-500/[0.02] transition-all duration-150">
          <td class="px-6 py-4 text-slate-400 font-normal border-b border-slate-800/40">{{ tx.date }}</td>
          <td class="px-6 py-4 font-semibold text-slate-200 border-b border-slate-800/40">{{ tx.accountName }}</td>
          <td class="px-6 py-4 border-b border-slate-800/40">
            <span class="text-[10px] font-bold px-2 py-0.5 rounded border uppercase inline-block" [ngClass]="{
                  'bg-teal-500/[0.06] text-teal-400 border-teal-500/20': tx.type === TRANSACTION_TYPES.INCOME,
                  'bg-rose-500/[0.06] text-rose-400/90 border-rose-500/20': tx.type === TRANSACTION_TYPES.EXPENSE,
                  'bg-slate-800 text-slate-400 border-slate-700': tx.type === TRANSACTION_TYPES.TRANSFER
                }">{{ tx.type }}</span>
          </td>
          <td class="px-6 py-4 border-b border-slate-800/40">{{ tx.category }}</td>
          <td class="px-6 py-4 text-right font-bold text-slate-200 border-b border-slate-800/40">
            {{ tx.type === TRANSACTION_TYPES.EXPENSE ? '-' : '' }}{{ tx.amount | currency:'ARS':'symbol':'1.2-2' }}
          </td>
          <td class="px-6 py-4 text-left pl-10 text-slate-400 truncate max-w-[200px]" [title]="tx.description">{{
            tx.description || '-' }}</td>
          <td class="px-6 py-4 text-right text-slate-400 border-b border-slate-800/40">{{ tx.counterparty || '-' }}</td>
        </tr>
        }
        }
      </tbody>
    </table>
  </div>
</div>