<div>
  <h2 class="text-xl font-medium mb-5">Movements of this month</h2>
  <div
    class="hidden md:block bg-card rounded-xl border border-border max-h-[400px] overflow-y-auto custom-scroll"
  >
    <table class="w-full text-sm">
      <thead class="bg-secondary text-slate-400 sticky top-0 z-10">
        <tr>
          <th class="px-4 py-3 text-left">Date</th>
          <th class="px-4 py-3 text-left">Account</th>
          <th class="px-4 py-3 text-left">Type</th>
          <th class="px-4 py-3 text-left">Category</th>
          <th class="px-4 py-3 text-right">Amount</th>
          <th class="px-4 py-3 text-right">Description</th>
          <th class="px-4 py-3 text-right">CounterParty</th>
        </tr>
      </thead>

      <tbody>
        @for(tx of txs(); track tx.id) {
        <tr class="border-t border-border hover:bg-secondary transition">
          <td class="px-4 py-3">{{ tx.date}}</td>
          <td class="px-4 py-3">{{ tx.accountName }}</td>
          <td class="px-4 py-3">{{ tx.type }}</td>

          <td class="px-4 py-3">{{ tx.category }}</td>
          <td
            class="px-4 py-3 text-right"
            [ngClass]="
    tx.type === TRANSACTION_TYPES.INCOME
      ? 'text-accent-green'
      : tx.type === TRANSACTION_TYPES.EXPENSE
        ? 'text-accent-red'
        : ''
  "
          >
            {{ tx.amount | currency:'ARS':'symbol':'1.2-2' }}
          </td>
          <td class="px-4 py-3 text-right">{{tx.description}}</td>
          <td class="px-4 py-3 text-right">{{tx.counterparty}}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="md:hidden space-y-3">
    @for(tx of txs(); track tx.id) {
    <div class="bg-card border border-border rounded-lg p-4">
      <div class="flex justify-between items-center">
        <span class="text-sm text-slate-400">{{ tx.date }}</span>
        <span
          class="text-sm font-medium"
          [ngClass]="
            tx.type === TRANSACTION_TYPES.INCOME
              ? 'text-accent-green'
              : 'text-accent-red'
          "
        >
          {{ tx.amount | currency:'ARS':'symbol':'1.2-2' }}
        </span>
      </div>

      <div class="mt-2 text-sm font-medium">{{ tx.category }}</div>

      <div class="mt-1 text-xs text-slate-400">
        {{ tx.accountName }} · {{ tx.type }}
      </div>

      @if (tx.description) {
      <div class="mt-2 text-xs text-slate-300">{{ tx.description }}</div>
      }
    </div>
    }
  </div>
</div>
