<div>
  <h2 class="text-xl font-medium mb-5">Últimos movimientos</h2>

  <div class="bg-card rounded-xl border border-border overflow-hidden">
    <table class="w-full text-sm">
      <thead class="bg-secondary text-slate-400">
        <tr>
          <th class="px-4 py-3 text-left">Fecha</th>
          <th class="px-4 py-3 text-left">Tipo</th>
          <th class="px-4 py-3 text-left">Categoría</th>
          <th class="px-4 py-3 text-right">Monto</th>
          <th class="px-4 py-3 text-right"></th>
        </tr>
      </thead>

      <tbody>
        <tr class="border-t border-border hover:bg-secondary transition">
          <td class="px-4 py-3">03/01</td>
          <td class="px-4 py-3 text-accent-red">Egreso</td>
          <td class="px-4 py-3">🎮 Juegos</td>
          <td class="px-4 py-3 text-right">$25.000</td>
          <td class="px-4 py-3 text-right text-slate-400 cursor-pointer">✏️</td>
        </tr>

        <tr class="border-t border-border hover:bg-secondary transition">
          <td class="px-4 py-3">02/01</td>
          <td class="px-4 py-3 text-accent-green">Ingreso</td>
          <td class="px-4 py-3">💼 Sueldo</td>
          <td class="px-4 py-3 text-right">$500.000</td>
          <td class="px-4 py-3 text-right text-slate-400 cursor-pointer">✏️</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
